.wide {
    display: flex;
    width: 80%;
}

.my-logo {
    display: flex;
    flex-direction: column;
}

.my-logo img {
    width: 100px;
    height: 100px;
    border: solid #fff 2px;
    border-radius: 50px;
    margin-right: 2rem;
}